# In this notebook

We extend the latter half of notebook `16` for all 4 categories
- as in notebook `16`
    - we will derive a priority order of attributes
    - we will find similar attributes using nearest neighbor search
- in this notebook
    - we will investigate what the similar phrases look like for each of our categories
    - we will compute pos and neg sub-clusters 
        - we will estimate requisite probabilities
    - we will store the top few similar meaning phrases in the database to serve out using the API

In [1]:
import pandas as pd
import json

pd.options.display.max_columns = 50
pd.options.display.max_colwidth = 200
pd.options.display.max_rows = 1000

In [2]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [3]:
import os
import glob

In [4]:
import pickle

In [5]:
import numpy as np

# Load attributes from database

In [6]:
conn_string = 'postgresql+psycopg2://gabbydbuser:gabbyDBpass@localhost:5432/gabbyDB'

In [7]:
db = create_engine(conn_string)
conn = db.connect()

# Building an attribute similarity module for easier saving and manual curation

- We build a class encompassing data and functions so that we can save and load models and vectors and other required data to efficiently compute nearest neighbor groups for manual curation

- Most of the reference code is in the Reference section (below)

In [237]:
category = 'laptop'

In [256]:
import spacy
nlp = spacy.load('en_core_web_sm')
from sklearn.neighbors import NearestNeighbors
from tqdm.notebook import tqdm
tqdm.pandas()
import random
import numpy as np
import pickle


class SimilarAttributes(object):
    
    def __init__(self, category, db_conn):
        self.category = category

        print('Fetching attributes from DB')
        self.key_phrases = self._fetch_key_phrases_from_DB(db_conn)
        self.attributes = self.key_phrases['phrase'].tolist()

        print('Generating vectors matrix')
        self.phrase_vectors_arr = self._gen_spacy_vector_matrix()

        print('Building Nearest Neighbor Model')
        self.nn_model = self._build_nn_model()

        print('Computing mean intra-cluster distance')
        self.all_clusters_mean_distance = self._compute_mean_intra_cluster_distance()

        print('Computing priority order of attributes')
        self.priority_order = self.key_phrases.sort_values(['n_reviewers', 'n_products'], ascending=False)['key_phrase_id'].index.tolist()

        self.qphrases = {
            'laptop': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 
                        'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 
                        'Fast', 'long battery life', 'Noise level'],
            'monitor': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 
                        'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 'Fast'],
            'headphone': ['Good sound quality', 'comfortable', 'long battery life', 'Easy to set up', 
                            'Easy to use', 'Quality build', 'effective noise cancelling', 'Good bass', 'Call quality', 'Attractive'],
            'mouse': ['comfortable', 'long battery life', 'Easy to set up', 'Easy to use', 'Quality build', 
                        'Attractive', 'Noise level', 'Easy to clean'],
            'tv': ['Easy to use', 'Easy to set up', 'Sound quality', 'Fast input response', 'lightweight',
                     'Attractive', 'quality build', 'lacks durability', 'speed', 'craftsmanship', 'camera quality', 'remote quality']
        }


    def get_similar_attributes(self, qphrase, max_neighbors=100):
        qphrase_neighbors = self._nearest_neighbor_expansion(qphrase, max_neighbors=max_neighbors)
        qphrase_neighbors['key_phrase_id'] = qphrase_neighbors['neighbor_idx'].apply(lambda _row: self.key_phrases.iloc[_row]['key_phrase_id'])
        qattr_nn = qphrase_neighbors.merge(self.key_phrases, how='left', left_on='key_phrase_id', right_on='key_phrase_id').sort_values('n_reviews', ascending=False)
        qattr_nn['qphrase'] = qphrase
        return qattr_nn


    def _nearest_neighbor_expansion(self, qphrase, max_neighbors=100):
        # initialization
        qvec = nlp(qphrase).vector
        neighbor_distances, neighbor_indices = self.nn_model.kneighbors([qvec], n_neighbors=10)
        neighbor_indices = neighbor_indices[0]
        neighbor_distances =neighbor_distances[0]
        neighbor_attributes = [self.attributes[i] for i in neighbor_indices]
        cluster_mean_dist = neighbor_distances.mean()
        
        #print(neighbor_attributes)
        lc = 1      # increase in number of neighbors (10, 101, 10) to search for nearest neighor expansion
        while cluster_mean_dist < self.all_clusters_mean_distance and lc < max_neighbors//10 + 1:
            # we need to find more neighbors for this phrase until the mean intra-cluster distance is greater than the mean
            q_idx = neighbor_indices
            #print(len(q_idx))
            qvec = self.phrase_vectors_arr[q_idx].mean(axis=0)
            #print(qvec)
            distances, neighbors = self.nn_model.kneighbors([qvec], n_neighbors=10*lc)
            distances = distances[0]
            neighbors = neighbors[0]
            for knn in range(len(neighbors)):
                #print(knn, neighbors[knn])
                if neighbors[knn] not in neighbor_indices:
                    #print('added')
                    neighbor_indices = np.append(neighbor_indices, neighbors[knn])
                    neighbor_distances = np.append(neighbor_distances, distances[knn])
                    neighbor_attributes.append(self.attributes[neighbors[knn]])
            cluster_mean_dist = neighbor_distances.mean()
            lc += 1
        mean_distance_occurrence_phrases = pd.DataFrame({
            'neighbor_idx': neighbor_indices,
            'neighbor_attr': neighbor_attributes,
            'neighbor_distances': neighbor_distances,
        })
        
        return mean_distance_occurrence_phrases


    def _compute_mean_intra_cluster_distance(self):
        SAMPLE_SIZE = min(10000, len(self.attributes))
        all_clusters_mean_distance = 0 
        for i in tqdm(random.sample(range(len(self.attributes)), SAMPLE_SIZE)):
            qvec = self.phrase_vectors_arr[i]
            distances, neighbors = self.nn_model.kneighbors([qvec], n_neighbors=10)
            all_clusters_mean_distance += distances[0].mean()
        all_clusters_mean_distance /= SAMPLE_SIZE
        return all_clusters_mean_distance


    def _build_nn_model(self):
        nn_model = NearestNeighbors()
        nn_model.fit(self.phrase_vectors_arr)
        return nn_model

        
    def _gen_spacy_vector_matrix(self): 
        phrase_vectors = []
        self.key_phrases['phrase'].progress_apply(lambda p: phrase_vectors.append(nlp(p).vector))
        return np.vstack(phrase_vectors)

        
    def _fetch_key_phrases_from_DB(self, conn):
        key_phrases_query = \
            f'''
            SELECT KP.*, KS.n_reviews, KS.n_positive, KS.n_negative, KS.n_reviewers, KS.n_products
            FROM key_phrase_root KP, key_phrase_scores KS
            WHERE KP.key_phrase_id=KS.key_phrase_id
                and KP.category='{self.category}'
            '''
        key_phrases = pd.read_sql(key_phrases_query, conn)
        print('key_phrases.shape', key_phrases.shape)
        return key_phrases

In [239]:

sim_attr = SimilarAttributes(category,conn)

Fetching attributes from DB
key_phrases.shape (122630, 8)
Generating vectors matrix

  0%|          | 0/122630 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/10000 [00:00<?, ?it/s]

Computing priority order of attributes

In [240]:
with open(f"""similar_attributes_model_{category}""",'wb') as safile:
    pickle.dump(sim_attr, safile)

In [187]:
with open(f"""similar_attributes_model_{category}""",'rb') as safile:
    sim_attr = pickle.load(safile)

In [257]:
for category in ['headphone', 'tv', 'monitor', 'mouse', 'laptop']:
    sim_attr = SimilarAttributes(category,conn)
    with open(f"""similar_attributes_model_{category}""",'wb') as safile:
        pickle.dump(sim_attr, safile)

Fetching attributes from DB
key_phrases.shape (8258, 8)
Generating vectors matrix

  0%|          | 0/8258 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/8258 [00:00<?, ?it/s]

Computing priority order of attributes
Fetching attributes from DB
key_phrases.shape (112583, 8)
Generating vectors matrix

  0%|          | 0/112583 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/10000 [00:00<?, ?it/s]

Computing priority order of attributes
Fetching attributes from DB
key_phrases.shape (31970, 8)
Generating vectors matrix

  0%|          | 0/31970 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/10000 [00:00<?, ?it/s]

Computing priority order of attributes
Fetching attributes from DB
key_phrases.shape (61048, 8)
Generating vectors matrix

  0%|          | 0/61048 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/10000 [00:00<?, ?it/s]

Computing priority order of attributes
Fetching attributes from DB
key_phrases.shape (122630, 8)
Generating vectors matrix

  0%|          | 0/122630 [00:00<?, ?it/s]

Building Nearest Neighbor Model
Computing mean intra-cluster distance

  0%|          | 0/10000 [00:00<?, ?it/s]

Computing priority order of attributes

In [258]:
inter_cluster_distances = []
for category in ['headphone', 'tv', 'monitor', 'mouse', 'laptop']:
    with open(f"""similar_attributes_model_{category}""",'rb') as safile:
        sim_attr = pickle.load(safile)
        inter_cluster_distances.append(sim_attr.all_clusters_mean_distance)

In [260]:
np.mean(inter_cluster_distances)

3.0968948381611487

## Select curated terms
3 step process
1. pick those phrases that generate better looking terms; note the top ranking threshold for each phrase if needed
2. pick good looking ones from priority_order list; not the top ranking threshold for each phrase if needed
3. save the manually curated phrases and their respective top similar phrases into db

In [ ]:
# some terms to search for after the similar attribute models have been saved/loaded 
'attractive design'

### curating pre-selected attributes

In [241]:
curated_attributes = pd.DataFrame()

In [261]:
sim_attr.category, sim_attr.qphrases[sim_attr.category]

('laptop',
 ['Easy to set up',
  'Quality display',
  'Good color quality',
  'Quality build',
  'Sound quality',
  'Easy to use',
  'Minimal glare',
  'Lightweight',
  'Good viewing angles',
  'Fast',
  'long battery life',
  'Noise level'])

### curating priority ordered phrases

In [243]:
sim_attr.key_phrases.loc[sim_attr.priority_order[:25]]

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
18,144570,stars,laptop,51760,47282,4478,41423,7137
19,144571,laptop,laptop,20804,16423,4381,18724,5210
88,144640,great,laptop,19998,18561,1437,18242,5317
61,144613,good,laptop,13301,11120,2181,11934,4466
1117,144733,price,laptop,7220,6352,868,6799,2919
40,144592,computer,laptop,6938,4964,1974,6435,2979
29,144581,nice,laptop,6092,5367,725,5602,2628
295,144954,perfect,laptop,5898,5754,144,5505,2595
13,144565,bag,laptop,5430,4233,1197,4860,1280
743,145033,battery,laptop,4902,3298,1604,4686,1617
9,144561,easy,laptop,4941,4675,266,4667,2145
85,144637,product,laptop,4981,3613,1368,4595,2439
33,144585,works,laptop,4615,4284,331,4423,1935
442,145208,windows,laptop,4582,3369,1213,4319,1561
81,144633,time,laptop,4418,3198,1220,4068,2376
1220,145906,keyboard,laptop,4153,3057,1096,3905,1515
1380,146066,mouse,laptop,3872,2778,1094,3715,833
722,145012,screen,laptop,3910,2760,1150,3657,1519
43,144595,great product,laptop,3980,3904,76,3558,1959
2080,145487,case,laptop,3738,2953,785,3422,1234
420,145186,lot,laptop,3020,2495,525,2795,1645
262,144921,star,laptop,2587,201,2386,2455,1556
1097,144713,quality,laptop,2578,2080,498,2441,1381
169,144828,happy,laptop,2572,2382,190,2404,1594
211,144870,money,laptop,2424,1472,952,2291,1461

### running the manual curation

In [266]:
qattr_nn = sim_attr.get_similar_attributes('light laptop', 10)
qattr_nn

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
4,8942,good laptop,2.504824,152220,good laptop,laptop,484,400,84,470,342,light laptop
10,21660,fantastic laptop,1.760082,166934,fantastic laptop,laptop,46,43,3,46,44,light laptop
12,1065,heavy laptop,1.875673,146370,heavy laptop,laptop,40,33,7,38,38,light laptop
0,4243,light laptop,0.000000,149492,light laptop,laptop,25,18,7,23,24,light laptop
1,39767,standard laptop,2.110823,185093,standard laptop,laptop,13,10,3,13,13,light laptop
6,53589,fit laptop,2.534501,198827,fit laptop,laptop,5,5,0,5,5,light laptop
5,18814,ultimate laptop,2.511705,162235,ultimate laptop,laptop,4,4,0,4,4,light laptop
8,60671,wrong laptop,2.546667,205972,wrong laptop,laptop,4,2,2,4,4,light laptop
2,118737,starter laptop,2.466264,262792,starter laptop,laptop,2,2,0,2,2,light laptop
11,51128,occasional laptop,1.871214,196366,occasional laptop,laptop,2,2,0,2,2,light laptop
3,95316,purple laptop,2.468132,240405,purple laptop,laptop,1,1,0,1,1,light laptop
7,100031,robust laptop,2.545548,244842,robust laptop,laptop,1,1,0,1,1,light laptop
9,114978,fragile laptop,2.555762,260233,fragile laptop,laptop,1,1,0,1,1,light laptop

In [245]:
#qattr_nn.sort_values('neighbor_distances')
#shortlist = qattr_nn[qattr_nn['neighbor_attr'].str.contains('resolution')]
#shortlist = qattr_nn[qattr_nn['n_reviews'] >=2]
#shortlist = qattr_nn.head(6)
shortlist = qattr_nn
shortlist

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
41,2722,nice design,2.072405,147303,nice design,laptop,150,113,37,140,137,attractive design
62,872,great design,2.163588,145590,great design,laptop,140,117,23,132,119,attractive design
30,1432,good design,2.042748,146118,good design,laptop,81,58,23,79,68,attractive design
75,793,poor design,2.267976,145083,poor design,laptop,35,3,32,34,34,attractive design
40,7843,beautiful design,2.053045,152555,beautiful design,laptop,35,32,3,32,28,attractive design
83,1330,excellent design,2.354923,146016,excellent design,laptop,28,28,0,28,24,attractive design
73,1345,simple design,2.257541,146031,simple design,laptop,25,25,0,24,21,attractive design
82,25414,compact design,2.347942,170020,compact design,laptop,24,19,5,24,23,attractive design
54,13769,bad design,2.100020,158308,bad design,laptop,18,0,18,18,18,attractive design
24,15741,ergonomic design,1.969403,160131,ergonomic design,laptop,17,16,1,17,17,attractive design
16,7774,elegant design,1.972004,152486,elegant design,laptop,15,13,2,14,10,attractive design
85,15735,graphic design,2.388170,160125,graphic design,laptop,15,14,1,15,15,attractive design
80,3847,solid design,2.319722,148545,solid design,laptop,13,13,0,13,9,attractive design
0,23165,attractive design,0.000000,167793,attractive design,laptop,12,10,2,10,11,attractive design
51,2745,smart design,2.108366,147326,smart design,laptop,11,11,0,11,11,attractive design
23,1923,clever design,1.956413,146563,clever design,laptop,9,9,0,9,9,attractive design
44,60199,modern design,2.020734,205561,modern design,laptop,6,6,0,6,6,attractive design
1,10928,different design,2.087829,155170,different design,laptop,6,5,1,5,5,attractive design
52,74574,durable design,2.109728,219210,durable design,laptop,6,5,1,6,6,attractive design
50,62084,weird design,2.100786,206282,weird design,laptop,5,1,4,5,5,attractive design
12,13784,comfortable design,1.904064,158462,comfortable design,laptop,5,5,0,5,4,attractive design
97,27279,awkward design,2.471721,171802,awkward design,laptop,5,3,2,4,5,attractive design
43,21950,fantastic design,1.957328,166578,fantastic design,laptop,4,1,3,3,4,attractive design
64,7884,functional design,2.161733,152596,functional design,laptop,4,4,0,4,4,attractive design
2,41528,impressive design,2.318770,186875,impressive design,laptop,4,4,0,4,4,attractive design
61,28350,practical design,2.152256,172995,practical design,laptop,4,3,1,4,4,attractive design
10,12659,decent design,1.820316,157293,decent design,laptop,4,4,0,3,3,attractive design
98,52683,stylish design,2.478518,195789,stylish design,laptop,4,4,0,2,4,attractive design
46,19625,new design,2.074746,164330,new design,laptop,4,3,1,4,4,attractive design
48,32692,gorgeous design,2.092410,173941,gorgeous design,laptop,3,2,1,3,3,attractive design
9,22037,convenient design,2.590299,166665,convenient design,laptop,3,2,1,3,3,attractive design
34,63714,thoughtful design,1.963382,207770,thoughtful design,laptop,3,3,0,3,3,attractive design
67,6617,interior design,2.188433,151926,interior design,laptop,3,2,1,3,3,attractive design
56,63280,pleasant design,2.113964,208605,pleasant design,laptop,3,2,1,3,3,attractive design
57,39227,brilliant design,2.114933,183950,brilliant design,laptop,3,3,0,3,3,attractive design
28,10003,universal design,2.034218,153635,universal design,laptop,3,2,1,3,3,attractive design
79,73656,light design,2.312434,217517,light design,laptop,3,3,0,3,3,attractive design
33,17423,horrible design,1.939015,162096,horrible design,laptop,3,1,2,3,3,attractive design
81,58173,interesting design,2.328683,202032,interesting design,laptop,2,2,0,2,2,attractive design
53,8552,aesthetic design,2.097368,153227,aesthetic design,laptop,2,2,0,2,2,attractive design
68,94531,foldable design,2.196476,239153,foldable design,laptop,2,2,0,2,2,attractive design
70,6496,fair design,2.226290,151805,fair design,laptop,2,0,2,2,2,attractive design
5,30255,effective design,2.507442,174863,effective design,laptop,2,2,0,2,2,attractive design
63,27336,defective design,2.159957,171976,defective design,laptop,2,0,2,2,2,attractive design
3,28972,strong design,2.386523,173666,strong design,laptop,2,2,0,2,2,attractive design
7,23157,attractive sleeve,2.564636,167785,attractive sleeve,laptop,2,2,0,2,2,attractive design
11,63747,strange design,1.883852,207803,strange design,laptop,2,1,1,2,2,attractive design
86,59199,basic design,2.403006,203547,basic design,laptop,2,1,1,2,2,attractive design
99,40928,handy design,2.481325,185633,handy design,laptop,2,2,0,1,2,attractive design
21,10371,organizational design,2.043962,154966,organizational design,laptop,2,2,0,1,1,attractive design
35,66979,brown design,2.019707,211714,brown design,laptop,2,2,0,1,2,attractive design
27,12888,superior design,2.009264,157507,superior design,laptop,2,2,0,1,1,attractive design
72,55432,majestic design,2.247743,200147,majestic design,laptop,2,2,0,1,1,attractive design
95,85010,outstanding design,2.464005,230289,outstanding design,laptop,2,2,0,2,2,attractive design
94,10342,flexible design,2.460582,154937,flexible design,laptop,2,2,0,1,1,attractive design
84,50059,thermal design,2.370130,194707,thermal design,laptop,1,1,0,1,1,attractive design
77,93532,different interior design,2.279254,238201,different interior design,laptop,1,1,0,1,1,attractive design
100,39939,optical design,2.493246,184434,optical design,laptop,1,1,0,1,1,attractive design
74,61302,electronic design,2.263053,206301,electronic design,laptop,1,1,0,1,1,attractive design
6,101189,purposeful design,2.541566,246504,purposeful design,laptop,1,0,1,1,1,attractive design
76,52129,fabulous design,2.272576,196791,fabulous design,laptop,1,1,0,1,1,attractive design
96,31789,great base design,2.468184,176400,great base design,laptop,1,1,0,1,1,attractive design
93,107317,diagnostic mode,2.460490,251980,diagnostic mode,laptop,1,0,1,1,1,attractive design
78,36350,classic design,2.300533,181712,classic design,laptop,1,1,0,1,1,attractive design
92,113116,incorrect design,2.441364,257795,incorrect design,laptop,1,0,1,1,1,attractive design
91,54400,hard design,2.441136,198373,hard design,laptop,1,1,0,1,1,attractive design
90,75230,accurate design,2.436074,219886,accurate design,laptop,1,1,0,1,1,attractive design
89,15256,good ergonomic design,2.435677,159934,good ergonomic design,laptop,1,1,0,1,1,attractive design
88,40017,inferior design,2.434849,184512,inferior design,laptop,1,1,0,1,1,attractive design
87,8074,terrific design,2.413923,152786,terrific design,laptop,1,1,0,1,1,attractive design
4,112546,popular design,2.423138,254826,popular design,laptop,1,1,0,1,1,attractive design
15,73514,ingenious design,1.968230,216626,ingenious design,laptop,1,1,0,1,1,attractive design
58,117463,external design,2.127908,262029,external design,laptop,1,1,0,1,1,attractive design
71,60053,awful design,2.250237,204987,awful design,laptop,1,0,1,1,1,attractive design
37,95667,wonderful design,2.023448,240325,wonderful design,laptop,1,1,0,1,1,attractive design
17,38155,high design,2.010935,182858,high design,laptop,1,1,0,1,1,attractive design
18,78206,professional design,2.016824,222907,professional design,laptop,1,1,0,1,1,attractive design
19,107162,dependable design,2.027785,251825,dependable design,laptop,1,1,0,1,1,attractive design
20,102165,sharp design,2.041592,245329,sharp design,laptop,1,1,0,1,1,attractive design
22,16705,inadequate design,1.914666,161412,inadequate design,laptop,1,0,1,1,1,attractive design
13,8602,intelligent design,1.956568,153277,intelligent design,laptop,1,1,0,1,1,attractive design
25,117264,usable design,1.975039,261798,usable design,laptop,1,1,0,1,1,attractive design
26,21383,terrible design,1.980012,166005,terrible design,laptop,1,0,1,1,1,attractive design
29,118098,distinctive design,2.035469,262926,distinctive design,laptop,1,1,0,1,1,attractive design
31,122565,thin design,2.042888,266365,thin design,laptop,1,1,0,1,1,attractive design
32,112892,tubular design,2.043840,257571,tubular design,laptop,1,1,0,1,1,attractive design
36,94536,soft design,2.021564,239154,soft design,laptop,1,1,0,1,1,attractive design
38,121374,complex design,2.026560,266051,complex design,laptop,1,0,1,1,1,attractive design
69,78035,sweet design,2.220586,222736,sweet design,laptop,1,1,0,1,1,attractive design
39,113507,original design,2.045249,258268,original design,laptop,1,1,0,1,1,attractive design
42,100893,vibrant design,2.076680,246208,vibrant design,laptop,1,1,0,1,1,attractive design
45,57261,old design,2.037011,202583,old design,laptop,1,1,0,1,1,attractive design
47,90972,impeccable design,2.078653,235629,impeccable design,laptop,1,1,0,1,1,attractive design
49,95596,protective design,2.094965,240254,protective design,laptop,1,1,0,1,1,attractive design
55,3023,cheap design,2.103423,147720,cheap design,laptop,1,1,0,1,1,attractive design
14,92210,innovative design,1.956653,236855,innovative design,laptop,1,1,0,1,1,attractive design
59,79032,intuitive design,2.133276,223733,intuitive design,laptop,1,1,0,1,1,attractive design
60,84162,fashionable design,2.150375,228264,fashionable design,laptop,1,1,0,1,1,attractive design
8,104057,sassy design,2.580654,249358,sassy design,laptop,1,1,0,1,1,attractive design
65,80770,clumsy design,2.177593,225921,clumsy design,laptop,1,1,0,1,1,attractive design
66,118904,fresh design,2.178376,263598,fresh design,laptop,1,1,0,1,1,attractive design
101,111290,great stylish design,2.493846,255990,great stylish design,laptop,1,1,0,1,1,attractive design

In [246]:
curated_attributes = pd.concat([curated_attributes, shortlist])

In [247]:
curated_attributes.shape

(102, 12)

In [248]:
curated_attributes.groupby('qphrase')['qphrase'].count()

qphrase
attractive design    102
Name: qphrase, dtype: int64

### storing the manually curated terms in the database

In [249]:
curated_attributes.head()

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
41,2722,nice design,2.072405,147303,nice design,laptop,150,113,37,140,137,attractive design
62,872,great design,2.163588,145590,great design,laptop,140,117,23,132,119,attractive design
30,1432,good design,2.042748,146118,good design,laptop,81,58,23,79,68,attractive design
75,793,poor design,2.267976,145083,poor design,laptop,35,3,32,34,34,attractive design
40,7843,beautiful design,2.053045,152555,beautiful design,laptop,35,32,3,32,28,attractive design

In [250]:
curated_attributes.to_sql('shortlisted_attributes', con=conn, method='multi',
                            index=False, if_exists='append')

102

In [251]:
# API contenders
curated_attributes.sort_values('neighbor_distances').sort_values('n_reviews', ascending=False).groupby('qphrase')['phrase'].apply(list).reset_index()

,qphrase,phrase
0,attractive design,"[nice design, great design, good design, beautiful design, poor design, excellent design, simple design, compact design, bad design, ergonomic design, elegant design, graphic design, solid design,..."

# Reference

### Getting key_phrases for product category

In [ ]:
category='mouse'

In [ ]:
key_phrases_query = \
    f'''
    SELECT KP.*, KS.n_reviews, KS.n_positive, KS.n_negative, KS.n_reviewers, KS.n_products
    FROM key_phrase_root KP, key_phrase_scores KS
    WHERE KP.key_phrase_id=KS.key_phrase_id
        and KP.category='{category}'
    '''
key_phrases = pd.read_sql(key_phrases_query, conn)

In [ ]:
key_phrases.shape

(61048, 8)

In [ ]:
key_phrases.head()

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
0,267286,wrists,mouse,125,102,23,122,49
1,267183,way,mouse,835,552,283,776,389
2,267184,price,mouse,3597,3161,436,3345,813
3,267185,high,mouse,79,47,32,76,62
4,267186,works,mouse,3117,2850,267,2790,681

## Build a nearest neighbor model for phrases

In [439]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [440]:
from sklearn.neighbors import NearestNeighbors

In [441]:
from tqdm.notebook import tqdm
tqdm.pandas()

In [442]:
# get spacy vectors for attributes

phrase_vectors = []

key_phrases['phrase'].progress_apply(lambda p: phrase_vectors.append(nlp(p).vector))

  0%|          | 0/61048 [00:00<?, ?it/s]

0        None
1        None
2        None
3        None
4        None
         ...
61043    None
61044    None
61045    None
61046    None
61047    None
Name: phrase, Length: 61048, dtype: object

In [443]:
phrase_vectors_arr = np.vstack(phrase_vectors)

In [444]:
phrase_vectors_arr.shape

(61048, 96)

In [445]:
nn_model = NearestNeighbors()
nn_model.fit(phrase_vectors_arr)

NearestNeighbors()

In [446]:
q = nlp('Easy to set up').vector

In [447]:
nn_model.kneighbors([q], n_neighbors=10, return_distance=False)

array([[25945, 21237,  9097, 27115, 35705, 53917, 33791, 26955, 15168,
        20056]])

### checking out the NN model

In [448]:
def get_nearest_attributes(attribute, k=5):
    q = nlp(attribute).vector
    neighbors = nn_model.kneighbors([q], n_neighbors=k, return_distance=False)
    return neighbors[0]

In [449]:
qterms = ['Easy to set up', 'Quality display', 
            'Good color quality', 'Quality build', 
            'Sound quality', 
            'Minimal glare', 'Lightweight', 
            'Good viewing angles', 'Fast']

In [450]:
for q in qterms:
    print(q)
    neighbors =  get_nearest_attributes(q, 10)
    display(key_phrases.iloc[neighbors])

Easy to set up

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
25945,293198,countour perfit mouse,mouse,1,1,0,1,1
21237,288454,small rf receiver,mouse,1,1,0,1,1
9097,275626,go-to gaming mouse,mouse,1,1,0,1,1
27115,294332,go-to repacement,mouse,1,1,0,1,1
35705,302924,replace battery light,mouse,1,0,1,1,1
53917,321099,travel friendly,mouse,1,1,0,1,1
33791,301023,wee rf link,mouse,1,1,0,1,1
26955,294186,go-to wireless combo setup,mouse,1,1,0,1,1
15168,282409,comfy nice looking mouse,mouse,1,0,1,1,1
20056,287307,nice feature set including freedom,mouse,1,1,0,1,1

Quality display

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
39208,306431,great value purchase,mouse,1,1,0,1,1
27163,294359,great package deal,mouse,2,2,0,2,2
56896,324115,great screen resolution,mouse,1,1,0,1,1
39445,306617,large screen tv,mouse,1,1,0,1,1
35029,302264,great screen protector,mouse,2,1,1,2,1
56932,324145,great resolution screen,mouse,1,1,0,1,1
4713,271981,gateway2000 anykey,mouse,1,1,0,1,1
21449,288640,great performance mouse,mouse,1,1,0,1,1
38858,306134,business buy,mouse,1,1,0,1,1
28023,295251,abd play,mouse,1,1,0,1,1

Good color quality

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
43282,310568,poor video quality,mouse,1,0,1,1,1
43082,310278,great color selection,mouse,1,1,0,1,1
5492,272693,great construction quality,mouse,1,1,0,1,1
26222,293432,good reception distance,mouse,1,1,0,1,1
34047,301279,good product quality,mouse,4,4,0,3,4
50638,317830,great quality value,mouse,1,1,0,1,1
49628,316862,nice entry level workstation,mouse,1,1,0,1,1
8225,274766,fine ergonomic shape,mouse,1,1,0,1,1
47324,314478,great combination keyboard,mouse,1,1,0,1,1
53782,320981,wrong color purple,mouse,1,1,0,1,1

Quality build

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
42121,309323,great quality build,mouse,2,2,0,2,2
2323,269063,quality build,mouse,8,8,0,5,8
1188,268452,good quality build,mouse,2,1,1,2,2
36855,304059,computer build,mouse,1,1,0,1,1
51187,318434,quality product build,mouse,1,1,0,1,1
44484,311595,new computer build,mouse,1,1,0,1,1
37341,304545,budget build,mouse,3,3,0,3,3
38858,306134,business buy,mouse,1,1,0,1,1
61030,326974,value buy,mouse,1,1,0,1,1
25665,292845,low quality build,mouse,2,0,2,2,2

Sound quality

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
60082,327363,terrible sound quality,mouse,1,0,1,1,1
33253,300485,terrible quality,mouse,5,0,5,5,4
55364,322609,plastic thickness,mouse,1,1,0,1,1
38448,305737,great picture quality,mouse,2,2,0,2,2
60999,326945,good sound quality,mouse,1,1,0,1,1
50638,317830,great quality value,mouse,1,1,0,1,1
45857,313094,video quality,mouse,2,0,2,2,2
59152,326384,great gateway keyboard,mouse,1,1,0,1,1
44358,311540,bad quality material,mouse,1,0,1,1,1
59789,327078,sound device,mouse,1,1,0,1,1

Minimal glare

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
42129,309331,positive feedback,mouse,1,1,0,1,1
39839,307118,minimal success,mouse,1,0,1,1,1
32389,299678,positive contact,mouse,1,1,0,1,1
20709,287891,noticeable change,mouse,1,1,0,1,1
2801,270068,huge trackball,mouse,1,1,0,1,1
29659,296920,great color exact,mouse,3,3,0,1,3
48570,315826,popular brand,mouse,1,1,0,1,1
58686,325864,dismal software,mouse,1,0,1,1,1
57529,324538,expensive garbage,mouse,1,0,1,1,1
60934,328168,colorful glare,mouse,1,1,0,1,1

Lightweight

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
22334,289598,mush,mouse,3,2,1,3,3
26463,293645,mk260,mouse,2,1,1,2,2
5736,272913,diamondback,mouse,2,1,1,2,2
26028,293273,usb mose,mouse,1,0,1,1,1
18050,285087,lcc330,mouse,1,0,1,1,1
22419,289676,mx110,mouse,1,0,1,1,1
28795,296057,bluetooth light,mouse,1,1,0,1,1
5117,272352,dad,mouse,44,41,3,42,37
2882,270144,glide,mouse,3,3,0,3,3
26584,293865,usb male,mouse,1,1,0,1,1

Good viewing angles

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
57254,324440,good viewing angles,mouse,1,1,0,1,1
40997,308188,deep stopping points,mouse,1,1,0,1,1
35069,301487,good tracking capabilities,mouse,1,0,1,1,1
28319,294664,good typing experience,mouse,1,1,0,1,1
39294,306104,basic typing tasks,mouse,1,1,0,1,1
20912,288173,smooth scrolling wheels,mouse,1,1,0,1,1
53607,320865,great typing experience,mouse,1,1,0,1,1
57984,324577,nice typing experience,mouse,1,1,0,1,1
18337,285556,personal gaming computers,mouse,1,0,1,1,1
42184,309374,cheap gaming things,mouse,1,0,1,1,1

Fast

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
54430,321615,dual,mouse,1,1,0,1,1
397,267686,fast,mouse,363,327,36,322,195
29127,296335,genuine,mouse,2,2,0,2,2
47780,314992,great fast,mouse,1,1,0,1,1
26752,294013,nice fast,mouse,1,1,0,1,1
11918,279107,little slow,mouse,24,18,6,23,21
15495,282702,little fat,mouse,2,1,1,2,2
5649,272837,little delicate,mouse,1,1,0,1,1
9759,276985,real,mouse,24,14,10,24,23
60131,327406,perfect little,mouse,1,1,0,1,1

## Trying with an unsupervised clustering model

NOTE: we can't use generic unsupervised clustering methods because we don't know how many clusters can be there. Instead we do the following


1. we first find a 5 or 10 nearest neighbors for each attribute
    - we then group/merge attributes together into clusters based on 
        - mean distance between neighbors across all neighbor sets
        
        
2.  we can cluster together, but also try to differentiate between positive and negative attribute clusters within the same semantic subspace
    - e.g. q = "Good color quality"
        - positive equivalent in subspace = "excellent color quality"
        - negative equivalent in subspace = "poor color quality"
    - OR:
        - THIS [just looking at counts now] --> within each cluster, we subgroup based on probability of occurrence in positive or negative reviews

### find nearest neighbors for each phrase

In [451]:
# keeping a list of attributes
attributes = key_phrases['phrase'].tolist()
key_phase_idx = key_phrases.index

In [452]:
key_phrases

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
0,267286,wrists,mouse,125,102,23,122,49
1,267183,way,mouse,835,552,283,776,389
2,267184,price,mouse,3597,3161,436,3345,813
3,267185,high,mouse,79,47,32,76,62
4,267186,works,mouse,3117,2850,267,2790,681
...,...,...,...,...,...,...,...,...
61043,326987,kvm extender,mouse,1,1,0,1,1
61044,326988,hyper x3,mouse,1,1,0,1,1
61045,326989,ergonomic anker,mouse,1,1,0,1,1
61046,326990,best iron man purchase,mouse,1,1,0,1,1
61047,326991,dead batteries- ugh,mouse,1,0,1,1,1

In [453]:
import random

In [454]:
# for each phrase, for it's nearest neighbors, let's comput the inter-neighbor distance
# this is taking too long. We'll use a sample of 10000 to compute mean distance

SAMPLE_SIZE = 10000

all_clusters_mean_distance = 0 

for i in tqdm(random.sample(range(len(attributes)), SAMPLE_SIZE)):
    qvec = phrase_vectors_arr[i]
    distances, neighbors = nn_model.kneighbors([qvec], n_neighbors=10)
    all_clusters_mean_distance += distances[0].mean()

all_clusters_mean_distance /= SAMPLE_SIZE

all_clusters_mean_distance

  0%|          | 0/10000 [00:00<?, ?it/s]

2.993533144438267

### priority order for cluster generation
- to generate clusters, we can't really go first come first serve, or random, because the clustering could then be inconsistent with reality
- we can try to start with the phrases that occur most frequently in reviews, and go down the ranked list imposed by popularity
    - this is also easier to explain

In [455]:
priority_order = key_phrases.sort_values(['n_reviewers', 'n_products'], ascending=False)['key_phrase_id'].index.tolist()

In [456]:
key_phrases.loc[priority_order[:10]]

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
19,267201,stars,mouse,27739,25113,2626,22539,1763
9,267191,mouse,mouse,25481,17690,7791,22345,1746
50,267232,great,mouse,12642,11530,1112,11187,1487
550,267305,good,mouse,6973,5630,1343,6246,1235
10,267192,keyboard,mouse,6006,4120,1886,5759,632
128,267417,great mouse,mouse,4668,4408,260,4181,728
37,267219,easy,mouse,3721,3478,243,3355,814
2,267184,price,mouse,3597,3161,436,3345,813
981,267392,hand,mouse,3400,2666,734,3097,681
4,267186,works,mouse,3117,2850,267,2790,681

### Phrases close to the given terms

In [457]:
qphrases = {
    'laptop': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 'Fast', 'long battery life', 'Noise level'],
    'monitor': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 'Fast'],
    'headphone': ['Good sound quality', 'comfortable', 'long battery life', 'Easy to set up', 'Easy to use', 'Quality build', 'effective noise cancelling', 'Good bass', 'Call quality', 'Attractive'],
    'mouse': ['comfortable', 'long battery life', 'Easy to set up', 'Easy to use', 'Quality build', 'Attractive', 'Noise level', 'Easy to clean'],
    'tv': ['Easy to use', 'Easy to set up', 'Sound quality', 'Fast input response', 'lightweight', 'Attractive', 'quality build', 'lacks durability', 'speed', 'craftsmanship', 'camera quality', 'remote quality']
}

### distance based clusters
- we add those phrases to clusters that are within the average intra-cluster distance
- THIS method is MORE efficient, and the terms seems quite nice

In [458]:

def nearest_neighbor_expansion(all_clusters_mean, max_neighbors, phrase_vectors_arr, attributes, nn, qphrase):
    # initialization
    qvec = nlp(qphrase).vector
    neighbor_distances, neighbor_indices = nn.kneighbors([qvec], n_neighbors=10)
    neighbor_indices = neighbor_indices[0]
    neighbor_distances =neighbor_distances[0]
    neighbor_attributes = [attributes[i] for i in neighbor_indices]
    cluster_mean_dist = neighbor_distances.mean()
    #print(cluster_mean_dist, all_clusters_mean)
    #print(neighbor_attributes)

    lc = 1      # increase in number of neighbors (10, 101, 10) to search for nearest neighor expansion
    while cluster_mean_dist < all_clusters_mean and lc < max_neighbors/lc + 1:
        # we need to find more neighbors for this phrase until the mean intra-cluster distance is greater than the mean
        q_idx = neighbor_indices
        #print(len(q_idx))
        qvec = phrase_vectors_arr[q_idx].mean(axis=0)
        #print(qvec)
        distances, neighbors = nn.kneighbors([qvec], n_neighbors=10*lc)
        distances = distances[0]
        neighbors = neighbors[0]
        for knn in range(len(neighbors)):
            #print(knn, neighbors[knn])
            if neighbors[knn] not in neighbor_indices:
                #print('added')
                neighbor_indices = np.append(neighbor_indices, neighbors[knn])
                neighbor_distances = np.append(neighbor_distances, distances[knn])
                neighbor_attributes.append(attributes[neighbors[knn]])
        cluster_mean_dist = neighbor_distances.mean()
        lc += 1

    mean_distance_occurrence_phrases = pd.DataFrame({
        'neighbor_idx': neighbor_indices,
        'neighbor_attr': neighbor_attributes,
        'neighbor_distances': neighbor_distances,
    })
    #print(cluster_mean_dist, all_clusters_mean, lc)
    return mean_distance_occurrence_phrases

In [459]:
qphrases[category]

['comfortable',
 'long battery life',
 'Easy to set up',
 'Easy to use',
 'Quality build',
 'Attractive',
 'Noise level',
 'Easy to clean']

In [460]:
qphrase_neighbors = nearest_neighbor_expansion(all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, 'attractive')
qphrase_neighbors.sort_values('neighbor_distances')

   neighbor_idx  neighbor_attr  neighbor_distances
0          4908     attractive            0.000000
1         12797     selectable            3.822903
2         30753          angry            4.002241
3         41633   comfortasble            4.021020
4           752      effective            4.076833
5          9609     impressive            4.078627
6         26259        evident            4.336577
7         36779       generous            4.381159
8          6428     inadequate            4.401510
9         60319  inconspicuous            4.488169

In [461]:
qphrase_neighbors['key_phrase_id'] = qphrase_neighbors['neighbor_idx'].apply(lambda _row: key_phrases.iloc[_row]['key_phrase_id'])

In [462]:
qphrase_neighbors.merge(key_phrases, how='left', left_on='key_phrase_id', right_on='key_phrase_id').sort_values('n_reviews', ascending=False)

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
4,752,effective,4.076833,267969,effective,mouse,96,89,7,91,73
0,4908,attractive,0.000000,272148,attractive,mouse,80,75,5,63,62
5,9609,impressive,4.078627,276849,impressive,mouse,30,27,3,27,28
2,30753,angry,4.002241,297607,angry,mouse,8,4,4,6,8
6,26259,evident,4.336577,293467,evident,mouse,2,1,1,2,2
7,36779,generous,4.381159,303983,generous,mouse,2,1,1,2,2
1,12797,selectable,3.822903,280029,selectable,mouse,1,1,0,1,1
3,41633,comfortasble,4.021020,308816,comfortasble,mouse,1,1,0,1,1
8,6428,inadequate,4.401510,273062,inadequate,mouse,1,0,1,1,1
9,60319,inconspicuous,4.488169,327582,inconspicuous,mouse,1,1,0,1,1

In [463]:
def get_similar_attributes(key_phrases, all_clusters_mean, max_neighbors, phrase_vectors_arr, attributes, nn_model, qphrase):
    qphrase_neighbors = nearest_neighbor_expansion(all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, qphrase)
    qphrase_neighbors['key_phrase_id'] = qphrase_neighbors['neighbor_idx'].apply(lambda _row: key_phrases.iloc[_row]['key_phrase_id'])
    qattr_nn = qphrase_neighbors.merge(key_phrases, how='left', left_on='key_phrase_id', right_on='key_phrase_id').sort_values('n_reviews', ascending=False)
    qattr_nn['qphrase'] = qphrase
    return qattr_nn

In [464]:
get_similar_attributes(key_phrases, all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, 'attractive')

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
4,752,effective,4.076833,267969,effective,mouse,96,89,7,91,73,attractive
0,4908,attractive,0.000000,272148,attractive,mouse,80,75,5,63,62,attractive
5,9609,impressive,4.078627,276849,impressive,mouse,30,27,3,27,28,attractive
2,30753,angry,4.002241,297607,angry,mouse,8,4,4,6,8,attractive
6,26259,evident,4.336577,293467,evident,mouse,2,1,1,2,2,attractive
7,36779,generous,4.381159,303983,generous,mouse,2,1,1,2,2,attractive
1,12797,selectable,3.822903,280029,selectable,mouse,1,1,0,1,1,attractive
3,41633,comfortasble,4.021020,308816,comfortasble,mouse,1,1,0,1,1,attractive
8,6428,inadequate,4.401510,273062,inadequate,mouse,1,0,1,1,1,attractive
9,60319,inconspicuous,4.488169,327582,inconspicuous,mouse,1,1,0,1,1,attractive

# SCratch

In [268]:
for qphrase in monitor:
    qvec = nlp(qphrase).vector
    _, __n = nn.kneighbors([qvec], n_neighbors=10)
    print(__n)
    print(qphrase)
    print( [attributes[i] for i in __n[0]])

[[12020  7589 18877 21085 17309 23563 19171 19177 21558 28605]]
Easy to set up
['awesome built-in surround sound', 'go-to monitor', 'excellent widescreen hp monitor', 'menu buttons faulty', 'nice freestanding stand', 'lg support unable', 'excellent built-in webcam', 'cost effective', 'expensive af', 'ok works good']
[[ 3756 21111 10550  9048 21219 30179 20828 18312 12656 13617]]
Quality display
['great picture display', 'gtx980 strix', 'quality display', 'great quality display', 'computer display', 'resolution display', 'nice quality display', 'great screen resolution', 'wide screen display', 'color display']
[[24138 14376 28118 27779 11638  3104 21910 10059 22017  3669]]
Good color quality
['great color definition', 'poor color quality', 'poor color accuracy', 'great video quality', 'nice video quality', 'excellent color quality', 'nice color definition', 'great color production', 'poor color rendition', 'good video quality']
[[11460 13956 11194  3093 16329 18830 11510 13618 19582 16523]]
Quality build
['quality build', 'good quality build', 'new system build', 'pc build', 'mst setting', 'gaming build', 'nice build', 'new desktop build', 'grandma pc build', 'dust cover']
[[ 6093 28686 13207 27779  1016  5956 29118 14382 26221 11895]]
Sound quality
['great sound quality', 'sharpness quality', 'terrible quality', 'great video quality', 'great picture quality', 'good sound quality', 'great sound bar', 'bad sound quality', 'awesome video quality', 'great screen quality']
[[17505  7589 14777 26995 20701  2968 14356 19177 25232  5036]]
Easy to use
['na overwatch', 'go-to monitor', 'hdmi use', 'review simple', 'display formats available', 'desk ready', 'budget friendly', 'cost effective', 'fix available', 'onboard flash']
[[ 6888 21712 27166  7745 28053 18931 11772 23786  3114 29077]]
Minimal glare
['minimal glare', 'noticeable impact', 'positive experience', 'minimal work', 'specific space', 'noticeable strain', 'great glossy monitor', 'actual assembly', 'professional work', 'magnificent view']
[[ 7689 28035 10246 20302  1349 28730 10076   978 25743  3611]]
Lightweight
['s220hql', 'deployment', 'g206hql', 'monitory', 'dad', 'usb male', 'motherboard', 'lo traje', 'tripod mound', 'refurb']
[[15604 12129  7642 10774  9759 10640 20591  3088 25179 14628]]
Good viewing angles
['good viewing angles', 'great viewing angles', 'nice viewing angles', 'terrible viewing angles', 'poor viewing angles', 'abysmal viewing angles', 'superior viewing angles', 'different viewing angles', 'extreme viewing angles', 'decent viewing angles']
[[ 1517  1069 28313 23080  7542  5597 21734  9577  2104 24318]]
Fast
['dual', 'fast', 'genuine', 'fast inexpensive', 'little slow', 'real', 'macbook pro late', 'separate hdmi', 'long', 'little pricey']

In [278]:
qvec = nlp('durability').vector
_, __n = nn.kneighbors([qvec], n_neighbors=10)
print(__n)
print(qphrase)
print( [attributes[i] for i in __n[0]])

[[ 1799  5790   132  1164 26156 27804  1122 30006 23119  2687]]
Fast
['durability', 'violation', 'flexibility', 'portability', 'malfunction', 'continuity', 'device', 'cage', 'coloration', 'configuration']