# In this notebook

We extend the latter half of notebook `16` for all 4 categories
- as in notebook `16`
    - we will derive a priority order of attributes
    - we will find similar attributes using nearest neighbor search
- in this notebook
    - we will investigate what the similar phrases look like for each of our categories
    - we will compute pos and neg sub-clusters 
        - we will estimate requisite probabilities
    - we will store the top few similar meaning phrases in the database to serve out using the API

In [430]:
import pandas as pd
import json

pd.options.display.max_columns = 50
pd.options.display.max_colwidth = 200
pd.options.display.max_rows = 1000

In [431]:
from sqlalchemy import create_engine
import psycopg2 
import io

In [432]:
import os
import glob

In [433]:
import pickle

In [434]:
import numpy as np

# Load attributes from database

In [6]:
conn_string = 'postgresql+psycopg2://gabbydbuser:gabbyDBpass@localhost:5432/gabbyDB'

In [7]:
db = create_engine(conn_string)
conn = db.connect()

### Getting key_phrases for product category

In [435]:
category='mouse'

In [436]:
key_phrases_query = \
    f'''
    SELECT KP.*, KS.n_reviews, KS.n_positive, KS.n_negative, KS.n_reviewers, KS.n_products
    FROM key_phrase_root KP, key_phrase_scores KS
    WHERE KP.key_phrase_id=KS.key_phrase_id
        and KP.category='{category}'
    '''
key_phrases = pd.read_sql(key_phrases_query, conn)

In [437]:
key_phrases.shape

(61048, 8)

In [438]:
key_phrases.head()

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
0,267286,wrists,mouse,125,102,23,122,49
1,267183,way,mouse,835,552,283,776,389
2,267184,price,mouse,3597,3161,436,3345,813
3,267185,high,mouse,79,47,32,76,62
4,267186,works,mouse,3117,2850,267,2790,681

# Build a nearest neighbor model for phrases

In [439]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [440]:
from sklearn.neighbors import NearestNeighbors

In [441]:
from tqdm.notebook import tqdm
tqdm.pandas()

In [442]:
# get spacy vectors for attributes

phrase_vectors = []

key_phrases['phrase'].progress_apply(lambda p: phrase_vectors.append(nlp(p).vector))

  0%|          | 0/61048 [00:00<?, ?it/s]

0        None
1        None
2        None
3        None
4        None
         ...
61043    None
61044    None
61045    None
61046    None
61047    None
Name: phrase, Length: 61048, dtype: object

In [443]:
phrase_vectors_arr = np.vstack(phrase_vectors)

In [444]:
phrase_vectors_arr.shape

(61048, 96)

In [445]:
nn_model = NearestNeighbors()
nn_model.fit(phrase_vectors_arr)

NearestNeighbors()

In [446]:
q = nlp('Easy to set up').vector

In [447]:
nn_model.kneighbors([q], n_neighbors=10, return_distance=False)

array([[25945, 21237,  9097, 27115, 35705, 53917, 33791, 26955, 15168,
        20056]])

### checking out the NN model

In [448]:
def get_nearest_attributes(attribute, k=5):
    q = nlp(attribute).vector
    neighbors = nn_model.kneighbors([q], n_neighbors=k, return_distance=False)
    return neighbors[0]

In [449]:
qterms = ['Easy to set up', 'Quality display', 
            'Good color quality', 'Quality build', 
            'Sound quality', 
            'Minimal glare', 'Lightweight', 
            'Good viewing angles', 'Fast']

In [450]:
for q in qterms:
    print(q)
    neighbors =  get_nearest_attributes(q, 10)
    display(key_phrases.iloc[neighbors])

Easy to set up

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
25945,293198,countour perfit mouse,mouse,1,1,0,1,1
21237,288454,small rf receiver,mouse,1,1,0,1,1
9097,275626,go-to gaming mouse,mouse,1,1,0,1,1
27115,294332,go-to repacement,mouse,1,1,0,1,1
35705,302924,replace battery light,mouse,1,0,1,1,1
53917,321099,travel friendly,mouse,1,1,0,1,1
33791,301023,wee rf link,mouse,1,1,0,1,1
26955,294186,go-to wireless combo setup,mouse,1,1,0,1,1
15168,282409,comfy nice looking mouse,mouse,1,0,1,1,1
20056,287307,nice feature set including freedom,mouse,1,1,0,1,1

Quality display

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
39208,306431,great value purchase,mouse,1,1,0,1,1
27163,294359,great package deal,mouse,2,2,0,2,2
56896,324115,great screen resolution,mouse,1,1,0,1,1
39445,306617,large screen tv,mouse,1,1,0,1,1
35029,302264,great screen protector,mouse,2,1,1,2,1
56932,324145,great resolution screen,mouse,1,1,0,1,1
4713,271981,gateway2000 anykey,mouse,1,1,0,1,1
21449,288640,great performance mouse,mouse,1,1,0,1,1
38858,306134,business buy,mouse,1,1,0,1,1
28023,295251,abd play,mouse,1,1,0,1,1

Good color quality

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
43282,310568,poor video quality,mouse,1,0,1,1,1
43082,310278,great color selection,mouse,1,1,0,1,1
5492,272693,great construction quality,mouse,1,1,0,1,1
26222,293432,good reception distance,mouse,1,1,0,1,1
34047,301279,good product quality,mouse,4,4,0,3,4
50638,317830,great quality value,mouse,1,1,0,1,1
49628,316862,nice entry level workstation,mouse,1,1,0,1,1
8225,274766,fine ergonomic shape,mouse,1,1,0,1,1
47324,314478,great combination keyboard,mouse,1,1,0,1,1
53782,320981,wrong color purple,mouse,1,1,0,1,1

Quality build

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
42121,309323,great quality build,mouse,2,2,0,2,2
2323,269063,quality build,mouse,8,8,0,5,8
1188,268452,good quality build,mouse,2,1,1,2,2
36855,304059,computer build,mouse,1,1,0,1,1
51187,318434,quality product build,mouse,1,1,0,1,1
44484,311595,new computer build,mouse,1,1,0,1,1
37341,304545,budget build,mouse,3,3,0,3,3
38858,306134,business buy,mouse,1,1,0,1,1
61030,326974,value buy,mouse,1,1,0,1,1
25665,292845,low quality build,mouse,2,0,2,2,2

Sound quality

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
60082,327363,terrible sound quality,mouse,1,0,1,1,1
33253,300485,terrible quality,mouse,5,0,5,5,4
55364,322609,plastic thickness,mouse,1,1,0,1,1
38448,305737,great picture quality,mouse,2,2,0,2,2
60999,326945,good sound quality,mouse,1,1,0,1,1
50638,317830,great quality value,mouse,1,1,0,1,1
45857,313094,video quality,mouse,2,0,2,2,2
59152,326384,great gateway keyboard,mouse,1,1,0,1,1
44358,311540,bad quality material,mouse,1,0,1,1,1
59789,327078,sound device,mouse,1,1,0,1,1

Minimal glare

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
42129,309331,positive feedback,mouse,1,1,0,1,1
39839,307118,minimal success,mouse,1,0,1,1,1
32389,299678,positive contact,mouse,1,1,0,1,1
20709,287891,noticeable change,mouse,1,1,0,1,1
2801,270068,huge trackball,mouse,1,1,0,1,1
29659,296920,great color exact,mouse,3,3,0,1,3
48570,315826,popular brand,mouse,1,1,0,1,1
58686,325864,dismal software,mouse,1,0,1,1,1
57529,324538,expensive garbage,mouse,1,0,1,1,1
60934,328168,colorful glare,mouse,1,1,0,1,1

Lightweight

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
22334,289598,mush,mouse,3,2,1,3,3
26463,293645,mk260,mouse,2,1,1,2,2
5736,272913,diamondback,mouse,2,1,1,2,2
26028,293273,usb mose,mouse,1,0,1,1,1
18050,285087,lcc330,mouse,1,0,1,1,1
22419,289676,mx110,mouse,1,0,1,1,1
28795,296057,bluetooth light,mouse,1,1,0,1,1
5117,272352,dad,mouse,44,41,3,42,37
2882,270144,glide,mouse,3,3,0,3,3
26584,293865,usb male,mouse,1,1,0,1,1

Good viewing angles

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
57254,324440,good viewing angles,mouse,1,1,0,1,1
40997,308188,deep stopping points,mouse,1,1,0,1,1
35069,301487,good tracking capabilities,mouse,1,0,1,1,1
28319,294664,good typing experience,mouse,1,1,0,1,1
39294,306104,basic typing tasks,mouse,1,1,0,1,1
20912,288173,smooth scrolling wheels,mouse,1,1,0,1,1
53607,320865,great typing experience,mouse,1,1,0,1,1
57984,324577,nice typing experience,mouse,1,1,0,1,1
18337,285556,personal gaming computers,mouse,1,0,1,1,1
42184,309374,cheap gaming things,mouse,1,0,1,1,1

Fast

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
54430,321615,dual,mouse,1,1,0,1,1
397,267686,fast,mouse,363,327,36,322,195
29127,296335,genuine,mouse,2,2,0,2,2
47780,314992,great fast,mouse,1,1,0,1,1
26752,294013,nice fast,mouse,1,1,0,1,1
11918,279107,little slow,mouse,24,18,6,23,21
15495,282702,little fat,mouse,2,1,1,2,2
5649,272837,little delicate,mouse,1,1,0,1,1
9759,276985,real,mouse,24,14,10,24,23
60131,327406,perfect little,mouse,1,1,0,1,1

# Trying with an unsupervised clustering model

NOTE: we can't use generic unsupervised clustering methods because we don't know how many clusters can be there. Instead we do the following


1. we first find a 5 or 10 nearest neighbors for each attribute
    - we then group/merge attributes together into clusters based on 
        - mean distance between neighbors across all neighbor sets
        
        
2.  we can cluster together, but also try to differentiate between positive and negative attribute clusters within the same semantic subspace
    - e.g. q = "Good color quality"
        - positive equivalent in subspace = "excellent color quality"
        - negative equivalent in subspace = "poor color quality"
    - OR:
        - THIS [just looking at counts now] --> within each cluster, we subgroup based on probability of occurrence in positive or negative reviews

## find nearest neighbors for each phrase

In [451]:
# keeping a list of attributes
attributes = key_phrases['phrase'].tolist()
key_phase_idx = key_phrases.index

In [452]:
key_phrases

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
0,267286,wrists,mouse,125,102,23,122,49
1,267183,way,mouse,835,552,283,776,389
2,267184,price,mouse,3597,3161,436,3345,813
3,267185,high,mouse,79,47,32,76,62
4,267186,works,mouse,3117,2850,267,2790,681
...,...,...,...,...,...,...,...,...
61043,326987,kvm extender,mouse,1,1,0,1,1
61044,326988,hyper x3,mouse,1,1,0,1,1
61045,326989,ergonomic anker,mouse,1,1,0,1,1
61046,326990,best iron man purchase,mouse,1,1,0,1,1
61047,326991,dead batteries- ugh,mouse,1,0,1,1,1

In [453]:
import random

In [454]:
# for each phrase, for it's nearest neighbors, let's comput the inter-neighbor distance
# this is taking too long. We'll use a sample of 10000 to compute mean distance

SAMPLE_SIZE = 10000

all_clusters_mean_distance = 0 

for i in tqdm(random.sample(range(len(attributes)), SAMPLE_SIZE)):
    qvec = phrase_vectors_arr[i]
    distances, neighbors = nn_model.kneighbors([qvec], n_neighbors=10)
    all_clusters_mean_distance += distances[0].mean()

all_clusters_mean_distance /= SAMPLE_SIZE

all_clusters_mean_distance

  0%|          | 0/10000 [00:00<?, ?it/s]

2.993533144438267

## priority order for cluster generation
- to generate clusters, we can't really go first come first serve, or random, because the clustering could then be inconsistent with reality
- we can try to start with the phrases that occur most frequently in reviews, and go down the ranked list imposed by popularity
    - this is also easier to explain

In [455]:
priority_order = key_phrases.sort_values(['n_reviewers', 'n_products'], ascending=False)['key_phrase_id'].index.tolist()

In [456]:
key_phrases.loc[priority_order[:10]]

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
19,267201,stars,mouse,27739,25113,2626,22539,1763
9,267191,mouse,mouse,25481,17690,7791,22345,1746
50,267232,great,mouse,12642,11530,1112,11187,1487
550,267305,good,mouse,6973,5630,1343,6246,1235
10,267192,keyboard,mouse,6006,4120,1886,5759,632
128,267417,great mouse,mouse,4668,4408,260,4181,728
37,267219,easy,mouse,3721,3478,243,3355,814
2,267184,price,mouse,3597,3161,436,3345,813
981,267392,hand,mouse,3400,2666,734,3097,681
4,267186,works,mouse,3117,2850,267,2790,681

# Phrases close to the given terms

In [457]:
qphrases = {
    'laptop': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 'Fast', 'long battery life', 'Noise level'],
    'monitor': ['Easy to set up', 'Quality display', 'Good color quality', 'Quality build', 'Sound quality', 'Easy to use', 'Minimal glare', 'Lightweight', 'Good viewing angles', 'Fast'],
    'headphone': ['Good sound quality', 'comfortable', 'long battery life', 'Easy to set up', 'Easy to use', 'Quality build', 'effective noise cancelling', 'Good bass', 'Call quality', 'Attractive'],
    'mouse': ['comfortable', 'long battery life', 'Easy to set up', 'Easy to use', 'Quality build', 'Attractive', 'Noise level', 'Easy to clean'],
    'tv': ['Easy to use', 'Easy to set up', 'Sound quality', 'Fast input response', 'lightweight', 'Attractive', 'quality build', 'lacks durability', 'speed', 'craftsmanship', 'camera quality', 'remote quality']
}

### distance based clusters
- we add those phrases to clusters that are within the average intra-cluster distance
- THIS method is MORE efficient, and the terms seems quite nice

In [458]:

def nearest_neighbor_expansion(all_clusters_mean, max_neighbors, phrase_vectors_arr, attributes, nn, qphrase):
    # initialization
    qvec = nlp(qphrase).vector
    neighbor_distances, neighbor_indices = nn.kneighbors([qvec], n_neighbors=10)
    neighbor_indices = neighbor_indices[0]
    neighbor_distances =neighbor_distances[0]
    neighbor_attributes = [attributes[i] for i in neighbor_indices]
    cluster_mean_dist = neighbor_distances.mean()
    #print(cluster_mean_dist, all_clusters_mean)
    #print(neighbor_attributes)

    lc = 1      # increase in number of neighbors (10, 101, 10) to search for nearest neighor expansion
    while cluster_mean_dist < all_clusters_mean and lc < max_neighbors/lc + 1:
        # we need to find more neighbors for this phrase until the mean intra-cluster distance is greater than the mean
        q_idx = neighbor_indices
        #print(len(q_idx))
        qvec = phrase_vectors_arr[q_idx].mean(axis=0)
        #print(qvec)
        distances, neighbors = nn.kneighbors([qvec], n_neighbors=10*lc)
        distances = distances[0]
        neighbors = neighbors[0]
        for knn in range(len(neighbors)):
            #print(knn, neighbors[knn])
            if neighbors[knn] not in neighbor_indices:
                #print('added')
                neighbor_indices = np.append(neighbor_indices, neighbors[knn])
                neighbor_distances = np.append(neighbor_distances, distances[knn])
                neighbor_attributes.append(attributes[neighbors[knn]])
        cluster_mean_dist = neighbor_distances.mean()
        lc += 1

    mean_distance_occurrence_phrases = pd.DataFrame({
        'neighbor_idx': neighbor_indices,
        'neighbor_attr': neighbor_attributes,
        'neighbor_distances': neighbor_distances,
    })
    #print(cluster_mean_dist, all_clusters_mean, lc)
    return mean_distance_occurrence_phrases

In [459]:
qphrases[category]

['comfortable',
 'long battery life',
 'Easy to set up',
 'Easy to use',
 'Quality build',
 'Attractive',
 'Noise level',
 'Easy to clean']

In [460]:
qphrase_neighbors = nearest_neighbor_expansion(all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, 'attractive')
qphrase_neighbors.sort_values('neighbor_distances')

   neighbor_idx  neighbor_attr  neighbor_distances
0          4908     attractive            0.000000
1         12797     selectable            3.822903
2         30753          angry            4.002241
3         41633   comfortasble            4.021020
4           752      effective            4.076833
5          9609     impressive            4.078627
6         26259        evident            4.336577
7         36779       generous            4.381159
8          6428     inadequate            4.401510
9         60319  inconspicuous            4.488169

In [461]:
qphrase_neighbors['key_phrase_id'] = qphrase_neighbors['neighbor_idx'].apply(lambda _row: key_phrases.iloc[_row]['key_phrase_id'])

In [462]:
qphrase_neighbors.merge(key_phrases, how='left', left_on='key_phrase_id', right_on='key_phrase_id').sort_values('n_reviews', ascending=False)

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
4,752,effective,4.076833,267969,effective,mouse,96,89,7,91,73
0,4908,attractive,0.000000,272148,attractive,mouse,80,75,5,63,62
5,9609,impressive,4.078627,276849,impressive,mouse,30,27,3,27,28
2,30753,angry,4.002241,297607,angry,mouse,8,4,4,6,8
6,26259,evident,4.336577,293467,evident,mouse,2,1,1,2,2
7,36779,generous,4.381159,303983,generous,mouse,2,1,1,2,2
1,12797,selectable,3.822903,280029,selectable,mouse,1,1,0,1,1
3,41633,comfortasble,4.021020,308816,comfortasble,mouse,1,1,0,1,1
8,6428,inadequate,4.401510,273062,inadequate,mouse,1,0,1,1,1
9,60319,inconspicuous,4.488169,327582,inconspicuous,mouse,1,1,0,1,1

In [463]:
def get_similar_attributes(key_phrases, all_clusters_mean, max_neighbors, phrase_vectors_arr, attributes, nn_model, qphrase):
    qphrase_neighbors = nearest_neighbor_expansion(all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, qphrase)
    qphrase_neighbors['key_phrase_id'] = qphrase_neighbors['neighbor_idx'].apply(lambda _row: key_phrases.iloc[_row]['key_phrase_id'])
    qattr_nn = qphrase_neighbors.merge(key_phrases, how='left', left_on='key_phrase_id', right_on='key_phrase_id').sort_values('n_reviews', ascending=False)
    qattr_nn['qphrase'] = qphrase
    return qattr_nn

In [464]:
get_similar_attributes(key_phrases, all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model, 'attractive')

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
4,752,effective,4.076833,267969,effective,mouse,96,89,7,91,73,attractive
0,4908,attractive,0.000000,272148,attractive,mouse,80,75,5,63,62,attractive
5,9609,impressive,4.078627,276849,impressive,mouse,30,27,3,27,28,attractive
2,30753,angry,4.002241,297607,angry,mouse,8,4,4,6,8,attractive
6,26259,evident,4.336577,293467,evident,mouse,2,1,1,2,2,attractive
7,36779,generous,4.381159,303983,generous,mouse,2,1,1,2,2,attractive
1,12797,selectable,3.822903,280029,selectable,mouse,1,1,0,1,1,attractive
3,41633,comfortasble,4.021020,308816,comfortasble,mouse,1,1,0,1,1,attractive
8,6428,inadequate,4.401510,273062,inadequate,mouse,1,0,1,1,1,attractive
9,60319,inconspicuous,4.488169,327582,inconspicuous,mouse,1,1,0,1,1,attractive

# Select curated terms
3 step process
1. pick those phrases that generate better looking terms; note the top ranking threshold for each phrase if needed
2. pick good looking ones from priority_order list; not the top ranking threshold for each phrase if needed
3. save the manually curated phrases and their respective top similar phrases into db

### curating pre-selected attributes

In [465]:
curated_attributes = pd.DataFrame()

In [466]:
category, qphrases[category]

('mouse',
 ['comfortable',
  'long battery life',
  'Easy to set up',
  'Easy to use',
  'Quality build',
  'Attractive',
  'Noise level',
  'Easy to clean'])

### curating priority ordered phrases

In [510]:
key_phrases.loc[priority_order[:25]]

,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products
19,267201,stars,mouse,27739,25113,2626,22539,1763
9,267191,mouse,mouse,25481,17690,7791,22345,1746
50,267232,great,mouse,12642,11530,1112,11187,1487
550,267305,good,mouse,6973,5630,1343,6246,1235
10,267192,keyboard,mouse,6006,4120,1886,5759,632
128,267417,great mouse,mouse,4668,4408,260,4181,728
37,267219,easy,mouse,3721,3478,243,3355,814
2,267184,price,mouse,3597,3161,436,3345,813
981,267392,hand,mouse,3400,2666,734,3097,681
4,267186,works,mouse,3117,2850,267,2790,681
693,267347,laptop,mouse,3095,2668,427,2787,710
554,267309,nice,mouse,3007,2568,439,2763,830
294,267583,comfortable,mouse,2793,2438,355,2576,612
802,267369,buttons,mouse,2754,1831,923,2570,673
90,267272,time,mouse,2718,1800,918,2453,761
164,267453,small,mouse,2787,2032,755,2442,657
63,267245,perfect,mouse,2595,2502,93,2275,722
123,267412,logitech,mouse,2633,1893,740,2206,379
29,267211,computer,mouse,2318,1697,621,2161,707
540,267295,product,mouse,2244,1567,677,2026,787
310,267599,scroll wheel,mouse,2096,1235,861,1880,484
82,267264,years,mouse,2024,1668,356,1858,426
308,267597,good mouse,mouse,2067,1755,312,1844,536
141,267430,use,mouse,1997,1433,564,1841,649
594,267326,great product,mouse,2090,2046,44,1829,599

### running the manual curation

In [549]:
qattr_nn = get_similar_attributes(key_phrases, all_clusters_mean_distance, 100, phrase_vectors_arr, attributes, nn_model,  'sensitive')
qattr_nn

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
0,155,sensitive,2.384186e-07,267444,sensitive,mouse,377,242,135,336,207,sensitive
2,1744,terrible,4.224583e+00,268928,terrible,mouse,162,21,141,153,116,sensitive
3,40122,physical,4.254766e+00,307397,physical,mouse,2,1,1,2,2,sensitive
5,31164,nive,4.293037e+00,298367,nive,mouse,2,2,0,2,2,sensitive
1,19804,obsessive,3.649040e+00,287082,obsessive,mouse,1,1,0,1,1,sensitive
4,6396,undeliverable,4.289928e+00,273587,undeliverable,mouse,1,0,1,1,1,sensitive
6,58795,practic,4.301383e+00,326064,practic,mouse,1,1,0,1,1,sensitive
7,34141,cooperative,4.463076e+00,299587,cooperative,mouse,1,0,1,1,1,sensitive
8,51485,enthusiastic,4.487184e+00,318706,enthusiastic,mouse,1,1,0,1,1,sensitive
9,10663,receptive,4.502208e+00,277418,receptive,mouse,1,1,0,1,1,sensitive

In [478]:
#qattr_nn.sort_values('neighbor_distances')
#qattr_nn[qattr_nn['n_reviews'] > 5]

In [546]:
curated_attributes = pd.concat([curated_attributes, qattr_nn])

In [547]:
curated_attributes.shape

(1252, 12)

In [548]:
curated_attributes.groupby('qphrase')['qphrase'].count()

qphrase
attractive design    102
comfortable mouse    103
easy setup           134
easy use             102
good buttons         100
good mouse           103
good scroll wheel    100
is durable            10
light Weight           2
long battery life    101
quality build        140
small size           114
wrist comfort        141
Name: qphrase, dtype: int64

## storing the manually curated terms in the database

In [550]:
curated_attributes.head()

,neighbor_idx,neighbor_attr,neighbor_distances,key_phrase_id,phrase,category,n_reviews,n_positive,n_negative,n_reviewers,n_products,qphrase
79,308,good mouse,2.060080,267597,good mouse,mouse,2067,1755,312,1844,536,comfortable mouse
49,228,nice mouse,2.002905,267517,nice mouse,mouse,1191,1038,153,1070,402,comfortable mouse
61,831,favorite mouse,2.011663,268035,favorite mouse,mouse,298,287,11,268,127,comfortable mouse
66,816,new mouse,1.988043,268020,new mouse,mouse,276,212,64,253,156,comfortable mouse
0,694,comfortable mouse,0.000000,267922,comfortable mouse,mouse,259,233,26,238,127,comfortable mouse

In [551]:
curated_attributes.to_sql('shortlisted_attributes', con=conn, method='multi',
                            index=False, if_exists='append')

1252

In [ ]:
# saving vectors and models
import pickle

{
    'phrase_vectors_arr': phrase_vectors_arr
}

In [552]:
# API contenders
curated_attributes.sort_values('neighbor_distances').sort_values('n_reviews', ascending=False).groupby('qphrase')['phrase'].apply(list).reset_index()

,qphrase,phrase
0,attractive design,"[great design, nice design, ergonomic design, good design, poor design, comfortable design, simple design, compact design, slim design, graphic design, clever design, beautiful design, excellent d..."
1,comfortable mouse,"[good mouse, nice mouse, favorite mouse, new mouse, comfortable mouse, decent mouse, old mouse, small mouse, fantastic mouse, standard mouse, normal mouse, ergonomic mouse, bad mouse, wonderful mo..."
2,easy setup,"[easy setup, great logitech product, great cordless mouse, easy connection, bad battery life, simple setup, great quality product, good construction, great setup, quick setup, great price point, g..."
3,easy use,"[heavy use, light use, normal use, constant use, regular use, perfect product, occasional use, casual use, moderate use, good use, basic use, personal use, continuous use, hard use, portable use, ..."
4,good buttons,"[programmable buttons, additional buttons, main buttons, backward buttons, small buttons, multiple buttons, stiff buttons, standard buttons, different buttons, physical buttons, great clips, secon..."
5,good mouse,"[good mouse, nice mouse, wireless mouse, favorite mouse, new mouse, comfortable mouse, decent mouse, old mouse, small mouse, fantastic mouse, standard mouse, ergonomic mouse, wonderful mouse, inex..."
6,good scroll wheel,"[smooth scroll wheel, nice scroll wheel, bad scroll wheel, great scroll wheel, terrible scroll wheel, good scroll wheel, defective scroll wheel, clickable scroll wheel, awful scroll wheel, respons..."
7,is durable,"[works great, works wonderful, feels great, looks great, feels good, looks good, needs great, responds great, feel great, looks pretty]"
8,light Weight,"[light weight, good weight]"
9,long battery life,"[long battery life, great battery life, good battery life, excellent battery life, short battery life, poor battery life, amazing battery life, terrible battery life, decent battery life, incredib..."
10,quality build,"[great travel mouse, good build quality, great quality mouse, great build quality, excellent build quality, small form factor, quality build, great computer mouse, great customer support, great va..."
11,small size,"[great product, good product, perfect size, small size, good size, nice size, great size, compact size, good shape, standard size, nice shape, large size, comfortable size, nice package, normal si..."
12,wrist comfort,"[wrist pain, mouse wheel, mouse cord, mouse control, mouse cable, mouse software, mouse surface, wrist support, mouse replacement, wrist problem, mouse color, wrist relief, wrist fatigue, finger f..."

# SCratch

In [268]:
for qphrase in monitor:
    qvec = nlp(qphrase).vector
    _, __n = nn.kneighbors([qvec], n_neighbors=10)
    print(__n)
    print(qphrase)
    print( [attributes[i] for i in __n[0]])

[[12020  7589 18877 21085 17309 23563 19171 19177 21558 28605]]
Easy to set up
['awesome built-in surround sound', 'go-to monitor', 'excellent widescreen hp monitor', 'menu buttons faulty', 'nice freestanding stand', 'lg support unable', 'excellent built-in webcam', 'cost effective', 'expensive af', 'ok works good']
[[ 3756 21111 10550  9048 21219 30179 20828 18312 12656 13617]]
Quality display
['great picture display', 'gtx980 strix', 'quality display', 'great quality display', 'computer display', 'resolution display', 'nice quality display', 'great screen resolution', 'wide screen display', 'color display']
[[24138 14376 28118 27779 11638  3104 21910 10059 22017  3669]]
Good color quality
['great color definition', 'poor color quality', 'poor color accuracy', 'great video quality', 'nice video quality', 'excellent color quality', 'nice color definition', 'great color production', 'poor color rendition', 'good video quality']
[[11460 13956 11194  3093 16329 18830 11510 13618 19582 16523]]
Quality build
['quality build', 'good quality build', 'new system build', 'pc build', 'mst setting', 'gaming build', 'nice build', 'new desktop build', 'grandma pc build', 'dust cover']
[[ 6093 28686 13207 27779  1016  5956 29118 14382 26221 11895]]
Sound quality
['great sound quality', 'sharpness quality', 'terrible quality', 'great video quality', 'great picture quality', 'good sound quality', 'great sound bar', 'bad sound quality', 'awesome video quality', 'great screen quality']
[[17505  7589 14777 26995 20701  2968 14356 19177 25232  5036]]
Easy to use
['na overwatch', 'go-to monitor', 'hdmi use', 'review simple', 'display formats available', 'desk ready', 'budget friendly', 'cost effective', 'fix available', 'onboard flash']
[[ 6888 21712 27166  7745 28053 18931 11772 23786  3114 29077]]
Minimal glare
['minimal glare', 'noticeable impact', 'positive experience', 'minimal work', 'specific space', 'noticeable strain', 'great glossy monitor', 'actual assembly', 'professional work', 'magnificent view']
[[ 7689 28035 10246 20302  1349 28730 10076   978 25743  3611]]
Lightweight
['s220hql', 'deployment', 'g206hql', 'monitory', 'dad', 'usb male', 'motherboard', 'lo traje', 'tripod mound', 'refurb']
[[15604 12129  7642 10774  9759 10640 20591  3088 25179 14628]]
Good viewing angles
['good viewing angles', 'great viewing angles', 'nice viewing angles', 'terrible viewing angles', 'poor viewing angles', 'abysmal viewing angles', 'superior viewing angles', 'different viewing angles', 'extreme viewing angles', 'decent viewing angles']
[[ 1517  1069 28313 23080  7542  5597 21734  9577  2104 24318]]
Fast
['dual', 'fast', 'genuine', 'fast inexpensive', 'little slow', 'real', 'macbook pro late', 'separate hdmi', 'long', 'little pricey']

In [278]:
qvec = nlp('durability').vector
_, __n = nn.kneighbors([qvec], n_neighbors=10)
print(__n)
print(qphrase)
print( [attributes[i] for i in __n[0]])

[[ 1799  5790   132  1164 26156 27804  1122 30006 23119  2687]]
Fast
['durability', 'violation', 'flexibility', 'portability', 'malfunction', 'continuity', 'device', 'cage', 'coloration', 'configuration']